* {
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
     background-color: dodgerblue;
     color: bisque;
     display: inline-block;
     height: 50px;
     width: 300px;
}