* {
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
     background-color: black;
     border-radius: 7px;
     color: bisque;
     display: inline-block;
     height: 300px;
     width: 50px;
     margin: auto;
}

.container {
     background-color: chartreuse;
     width: 500px;
     height: 500px;
     position: relative;
     top: 100px;
     margin: auto;
}

.middle-part {
     position: absolute;
     top: 50%;
     right: 50%;
     transform: translate(50%, -50%);
}

.right-part {
     height: 150px;
     position: absolute;;
     left: 55px;
     bottom: -7px;
     transform: rotate(45deg);
}

.left-part {
     height: 150px;
     position: absolute;;
     right: 55px;
     bottom: -7px;
     transform: rotate(-45deg);
}
